* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Georgia', serif;
    background-color: #f4f4f4;
    color: #333;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Prevent scrolling on body */
}

.container {
    display: flex;
    width: 100%;
    /* max-width: 1200px; */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    /* border-radius: 8px; */
    overflow: hidden;
}

.left-section {
    width: 30%;
    background-color: #2c3e50;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

.profile-picture-container {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 30px;
    margin-bottom: 20px;
    border: 2px solid #fff;
}

.profile-picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.name-location-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
}

p {
    margin-bottom: 15px;
    font-size: 16px;
    text-align: justify;
    font-family: 'Georgia', serif;
}

.social-icons {
    display: flex;
    gap: 15px;
    margin-top: auto; /* Push the social icons to the bottom */
}

.social-icons a {
    color: #1abc9c;
    font-size: 2.75rem;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #16a085;
}

.right-section {
    width: 70%;
    padding: 40px 60px;
    height: 100vh;
    overflow-y: auto; /* Make the right section scrollable */
    background-color: #fff;
    color: #333;
    border-left: 1px solid #ecf0f1;
}

h2 {
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: bold;
    position: relative;
    padding-bottom: 10px;
    display: inline-block; /* Ensure the h2 element is inline-block */
    font-family: 'Arial', sans-serif;
}

h2::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #16a085; /* Change the color as needed */
    margin-top: 5px; /* Adjust the margin as needed */
}

.quote {
    margin-top: 20px;
    font-size: 18px;
    font-style: italic;
    text-align: center;
    font-family: 'Georgia', serif;
}

.horizontal-line {
    margin: 30px 0;
    border: 0;
    height: 1px;
    background: #ecf0f1;
}

.indented-list {
    padding-left: 20px; /* Adjust this value to increase or decrease indentation */
    text-align: justify;
}

.indented-list li {
    margin-bottom: 10px;
    line-height: 1.6;
    font-family: 'Georgia', serif;
}

a {
    color: #16a085;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: #1abc9c;
}
