* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1C1C1D;
  color: #f5f5f5;
  font-family: "Times New Roman", serif;
  line-height: 1.6;
}

.main {
  max-width: 640px;
  margin: 0 auto;
  padding: 90px 28px;
  font-size: 17px;
}

.main--wide {
  max-width: 820px;
}

h1 {
  text-align: center;
  font-weight: normal;
  letter-spacing: 0.02em;
  margin-bottom: 3rem;
}

h2 {
  text-align: center;
  font-weight: normal;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

p {
  text-align: justify;
  hyphens: auto;
  margin-bottom: 1.4rem;
}

a {
  color: #e6c36a;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

blockquote {
  margin: 2.5rem 0;
  padding-left: 1.5rem;
  border-left: 2px solid #555;
  color: #eaeaea;
}

hr {
  border: none;
  height: 1px;
  background-color: #333;
  margin: 3rem 0;
}
